.content {
    width: 100%;
    text-align: center;
}

#board {
    border: 2px solid  black;
    margin: 0 auto;
}

#board td {
    height: 150px;
    width: 150px;
    border: 2px solid  black;
    background: url("/images/boxBG.JPG") repeat;
    text-align: center;
}

.o {
    width: 140px;
}

.x {
    width: 110px;
}